<div class="container">
  <%= render "header" %>

  <div class="row">
    <div class="user_name col-md-2 col-md-offset-1">
      <%= image_tag current_user.avatar_url(:profile_face) %><br/>
      <%= current_user.first_name + " " %><%= current_user.last_name %>
    </div>
    <div class="new_post col-md-2">
      <%= link_to '+ Create new post', new_post_path %>
    </div>
  </div>

  <% @posts.each do |post| %>
    <div class="blog_container row">
      <div class="blog_date col-md-2 col-md-offset-1">
        <%= post.created_at.to_date.to_formatted_s(:long) %>
      </div>
      <div class="blog_content col-md-8">
        <h1 class="blog_title">
          <a href="/posts/<%= post.id %>"><%= post.title %></a>
        </h1>
        <p class="blog_body">
          <%= post.body %><br />
        </p>
        <%= link_to 'Edit', edit_post_path(post)%> |
        <%= link_to 'Back', posts_path %>
      </div>
    </div>
  <% end %>
</div>

