<div class="preloader">
   <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>
 
<div id="home" class="page-section">
  <div class="container text-center homecontent">
    <div><%= image_tag "key.svg" , class: "img-responsive hidden-xs" %></div>
    <h1 class="hidden-xs">Jingling Gate is a web engineering team focused on<br> user-friendly web development.</h1>
    <h1 class="visible-xs">Jingling Gate is a web engineering team focused on user-friendly web development.</h1>
    <a href="#projects" class="scroll btn btn-lg btn-primary learnmore">Learn More</a>
  </div>
</div>

<!-- Projects
================================================== -->
<div class="page-section" id="projects">
  <div class="container">
    <div class="page-header text-center">
      <h1>Projects</h1>
      <hr>
    </div>

    <div id="carousel-example-generic" class="carousel slide hidden-xs" data-ride="carousel" data-interval="false">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag "macbook_proph.png", class: "col-sm-6 hidden-xs", alt: "Prophecy Sciences" %>
          <div class="col-sm-5">
            <h1>Prophecy Sciences</h1>
            <h2>Python and js</h2>
            <p>
              Prophecy Sciences is a Y-Combinator backed startup with neuroscience-based games that provide insights on personality, aptitude, and optimal career fits. We were responsible for full stack development (including backend database design, and front end javascript game-play) as well as deployment and maintenance of the application on Heroku.
            </p>
            <p>
              Additionally, we integrated with their development team as they hired new employees, and helped with setup and pair programming to bring new devs up to speed.
            </p>
          </div>
        </div>
        <div class="item">
          <%= image_tag "macbook_nouv.png", class: "col-sm-6 hidden-xs", alt: "Nouvola" %>
          <div class="col-sm-5">
            <h1>Nouvola</h1>
            <h2>Rails and js</h2>
            <p>
              Nouvola is a cloud based, stress testing service, which can mimic hundreds of thousands of users visiting your website all at once.
            </p>
            <p>
              We were responsible for front end implementation so that users would be able to upload the necessary information to setup their tests. Heavy javascript and ajax were required, to create a seamless user experience for a complicated back end infrastructure.
            </p>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="fa fa-angle-left fa-5x prev"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="fa fa-angle-right fa-5x next"></span>
      </a>
    </div>

    <div class="visible-xs">
      <div class="col-sm-5">
        <h1>Prophecy Sciences</h1>
        <h2>Python and js</h2>
        <p>
          Prophecy Sciences is a Y-Combinator backed startup with neuroscience-based games that provide insights on personality, aptitude, and optimal career fits. We were responsible for full stack development (including backend database design, and front end javascript game-play) as well as deployment and maintenance of the application on Heroku.
        </p>
        <p>
          Additionally, we integrated with their development team as they hired new employees, and helped with setup and pair programming to bring new devs up to speed.
        </p>
      </div>
      <div class="col-sm-5">
        <h1>Nouvola</h1>
        <h2>Rails and js</h2>
        <p>
          Nouvola is a cloud based, stress testing service, which can mimic hundreds of thousands of users visiting your website all at once.
        </p>
        <p>
          We were responsible for front end implementation so that users would be able to upload the necessary information to setup their tests. Heavy javascript and ajax were required, to create a seamless user experience for a complicated back end infrastructure.
        </p>
      </div>
    </div>
  </div>

</div>

<div id="services" class="page-section">
    <div class="container text-center">
      <div class="page-header text-center">
        <h1>Services</h1>
      </div>
      <div class="col-sm-4 service-item">
        <h2>Listen to your needs</h2>
        <hr>
        <p>We listen to you, then form a plan to <br>help you create the website you want.</p>
      </div>
      <div class="col-sm-4 service-item">
        <h2>Build for your users</h2>
        <hr>
        <p>Your customers are our primary focus; <br>we always build with them in mind.</p>
      </div>
      <div class="col-sm-4 service-item">
        <h2>Create great websites</h2>
        <hr>
        <p>The websites we create are highly <br>interactive, with a focus on usability.</p>
      </div>
    </div>
</div>

<div id="team" class="page-section">
  <div class="container">
    <div class="page-header text-center">
      <h1>Team</h1>
      <hr>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <%= image_tag "charlene-avatar.png", class: "display-pic", alt: "Charlene Estiva" %>
        <h3>Charlene Estiva</h3>
        <h5><i>Developer Intern</i></h5>
        <p>Born and raised San Franciscan and General Assembly WDI alumna. Front-end developer interested in client-side technologies and UI. Self proclaimed golfer and bay area sports fan.</p>
        <!-- <a class="icon" href="http://www.twitter.com/dparrelli" target="_blank"><i class="fa fa-twitter"></i></a> -->
        <!-- <a class="icon" href="#" target="_blank"><i class="fa fa-facebook"></i></a> -->
        <a class="icon" href="https://www.linkedin.com/in/charleneestiva" target="_blank"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="col-md-4">
        <%= image_tag "emma-avatar.jpg", class: "display-pic", alt: "Emma Lindsay" %>
        <h3>Emma Lindsay</h3>
        <h5><i>Developer</i></h5>
        <p>2007 MIT CS alumna who has been coding for over a decade. Took a year off to study massage therapy and is addicted to lattes.</p>
        <a class="icon" href="https://www.linkedin.com/in/ejlindsay" target="_blank"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="col-md-4">
        <%= image_tag "juliana-avatar.jpg", class: "display-pic", alt: "Juliana Lopker" %>
        <h3>Juliana Lopker</h3>
        <h5><i>Developer</i></h5>
        <p>San Francisco n00b and Brown University alumna. Full stack developer specializing in the front-end and user experience. Lover of good design, dogs, and ice cream.</p>
        <a class="icon" href="https://www.linkedin.com/pub/juliana-lopker/36/871/942" target="_blank"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</div>

<div id="quote" class="page-section">
  <div class="container text-center">
    <h1>"The entire Jingling Gate team is excellent at communication and quickly understanding the core goals of our product features, skills that have consistently led to on-time and on-budget delivery."</h1>
    <h3>-Brittany Burrows, Prophecy Sciences</h3>
  </div>  
</div>

<div id="proficiencies" class="page-section">
    <div class="container">
      <div class="page-header text-center">
        <h1>Our Proficiencies?</h1>
        <hr>
      </div>
      <div class="col-sm-6 col-md-3 proficiency-item design">
        <h2>Front End</h2>
        <ul class="list-unstyled category">
          <li class="top"><h3>HTML/CSS</h3>
            <ul class="list-unstyled">
              <li><em>Bootstrap</em></li>
              <li><em>Less/SCSS</em></li>
              <li><em>HAML/Jade</em></li>
            </ul>
          </li>
          <li class="top"><h3>Javascript</h3>
            <ul class="list-unstyled">
              <li><em>JQuery</em></li>
              <li><em>Angular</em></li>
              <li><em>Backbone</em></li>
              <li><em>Coffeescript</em></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3 proficiency-item design">
        <h2>Full Stack</h2>
        <ul class="list-unstyled category">
          <li class="top"><h3>Ruby on Rails</h3>
            <ul class="list-unstyled">
              <li><em>Product Design</em></li>
              <li><em>Testing (Cucumber/RSpec)</em></li>
              <li><em>Deployment</em></li>
            </ul>
          </li>
          <li class="top"><h3>Python</h3>
            <ul class="list-unstyled">
              <li><em>Flask</em></li>
              <li><em>Alembic</em></li>
            </ul>
          </li>
          <li class="top"><h3>Node js</h3>
            <ul class="list-unstyled">
              <li><em>Express</em></li>
            </ul>
           </li> 
        </ul>
      </div>
      <div class="col-sm-6 col-md-3 proficiency-item design">
        <h2>Deployment</h2>
        <ul class="list-unstyled category">
          <li class="top"><h3>Heroku</h3></li>
          <li class="top"><h3>Postgres/MySQL DB</h3></li>
          <li class="top"><h3>Analytics</h3>
            <ul class="list-unstyled">
              <li><em>Google</em></li>
              <li><em>Mixpanel</em></li>
              <li><em>CrazyEgg</em></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3 proficiency-item design">
        <h2>Growth/Maintenance</h2>
        <ul class="list-unstyled category">
          <li class="top"><h3>Developer Training</h3></li>
          <li class="top"><h3>Splash/Marketing Pages</h3></li>
          <li class="top"><h3>User Testing</h3></li>
          <li class="top"><h3>Interpretation of analytics data</h3></li>
        </ul>
      </div>
    </div>
</div>
 
<div id="contact" class="page-section">
  <div class="container">
    <div class="page-header text-center">
      <h1>Let's work together!</h1>
    </div>
    <h2 class="text-center">Fill out this form to request a quote or say hello</h2>
    <p class="form-subtext text-center"><i>Or email <a href="mailto:inquiries@jinglinggate.com?Subject=Message_Me" target="_blank">inquiries@jinglinggate.com</a></i></p> 
    <div class='contact-form'>
      <form name="sentMessage" id="contactForm"  novalidate action="/homes" method="post" class="new_message" id="new_message">
        <div class='name'>
          <input name="message[first_name]" class='form-control first' placeholder='First Name' type='text' id="first_name" autofocus required data-validation-required-message="Please enter your first name">
          <input name="message[last_name]" class='form-control last' placeholder='Last Name' type='text' id="last_name" required data-validation-required-message="Please enter your last name">
        </div>
        <div class='contact'>
          <input name="message[email]" class='form-control email' placeholder='E-mail Address' type='text' id="email" required data-validation-required-message="Please enter your email">
        </div>
        <div class='message'>
          <textarea name="message[body]" class="form-control" placeholder='Your message' id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
        </div>
        <div id="success"> </div> <!-- For success/fail messages -->
        <footer class="submit-button text-center">
          <button type="submit" class="btn btn-primary btn-lg" >Submit</button>
        </footer>
      </form>   
    </div>
  </div>
</div>

<div id="footer">
  <div class="container hidden-xs">
    <div class="col-sm-3">
      <p><i>© 2014 Jingling Gate Productions</i></p>
    </div>
    <div class="col-sm-6 text-center location">Proudly built in <%= image_tag "key.svg" , class: "img-responsive" %> San Francisco, CA</div>
    <div class="col-sm-3 text-right"><i>Site Design by <a href="http://juneletters.com" target="_blank">June Letters Studio</a></i></div>
  </div>
  <div class="container visible-xs">
    <div class="col-xs-12 text-center location">Proudly built in <%= image_tag "key.svg" , class: "img-responsive" %> San Francisco, CA</div>
    <div class="col-xs-6">
      <p><i>© 2014 Jingling Gate Productions</i></p>
    </div>
    
    <div class="col-xs-6 text-right"><i>Site Design by <a href="http://juneletters.com" target="_blank">June Letters Studio</a></i></div>
  </div>
</div>
