<div class="preloader">
   <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>
 
<div id="home" class="page-section">
  <div class="container text-center homecontent">
    <div><%= image_tag "key.svg" , class: "img-responsive" %></div>
    <h1 class="heroText">Full Stack Development for Growth</h1>
    <div class="taglineText">Focusing on growth and user retention, we deliver highly useble and extensible sites with a friendly attitude.</div>
    <a href="#projects" class="scroll btn btn-lg btn-primary learnmore">Learn More</a>
  </div>
</div>

<!-- Projects
================================================== -->
<div class="page-section" id="projects">
  <div class="container">
    <div class="page-header text-center">
      <h1>Projects</h1>
      <hr>
    </div>

    <div id="carousel-example-generic" class="carousel slide hidden-xs" data-ride="carousel" data-interval="false">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag "macbook_nouv.png", class: "col-sm-6", alt: "Nouvola" %>
          <div class="col-sm-5">
            <h1>Nouvola</h1>
            <h2>Rails Full Stack</h2>
            <p>
              Nouvola is a cloud based, stress testing service, which can mimic hundreds of thousands of users visiting a website.
            </p>
            <p>
              We were responsible for implementing a front end redesign after a complete UI overhaul. Heavy javascript and ajax were required, to create a seamless user experience for a complicated back end infrastructure.
            </p>
            <p>
              <a href="http://www.nouvola.com/" target="_blank">nouvola.com</a>
            </p>
          </div>
        </div>
        <div class="item">
          <%= image_tag "macbook_proph.png", class: "col-sm-6", alt: "Prophecy Sciences" %>
          <div class="col-sm-5">
            <h1>Prophecy Sciences</h1>
            <h2>Python and js</h2>
            <p>
              Prophecy Sciences is a Y-Combinator backed startup with neuroscience-based games that provide insights on personality, aptitude, and optimal career fits. We were responsible for full stack development (including backend database design, and front end javascript game-play) as well as deployment and maintenance of the application on Heroku.
            </p>
            <p>
              Additionally, we integrated with their development team as they hired new employees, and helped with setup and pair programming to bring new devs up to speed.
            </p>
            <p>
              <a href="https://www.prophecysciences.com/" target="_blank">prophecysciences.com</a>
            </p>
          </div>
        </div>
        <div class="item">
          <div class="col-sm-6 text-center knackk-logo-holder">
            <%= image_tag "knackk-logo.png", class: "logo-only", alt: "Tatcha" %>
          </div>
          <div class="col-sm-5">
            <h1>knackk</h1>
            <h2>Rails iOS Back End</h2>
            <p>
              Knackk is a social iPhone app still in beta.
            </p>
            <p>
            Jingling Gate provided the back end development for the web server from which the iPhone app was hosted, as well as design and development of the splash page, various landing pages, and the back end admin panel. 
            </p>
          </div>
        </div>
        <div class="item">
          <%= image_tag "macbook_tatcha.png", class: "col-sm-6", alt: "Prophecy Sciences" %>
          <div class="col-sm-5">
            <h1>Tatcha</h1>
            <h2>Front end HTML/CSS/Javascript</h2>
            <p>
              Tatcha is a Japanese-inspired luxury cosmetics company with an e-commerce site running on a magento and expression engine back end.
            </p>
            <p>
              We were responsible for implementing a redesign of their blog, creating marketing landing pages, and helping transition their site to be mobile-responsive.
            </p>
            <p>
              <a href="http://www.tatcha.com/" target="_blank">tatcha.com</a>
            </p>
          </div>
        </div>
        <div class="item">
          <%= image_tag "macbook_scrumpt.png", class: "col-sm-6", alt: "Scrumpt" %>
          <div class="col-sm-5">
            <h1>Scrumpt</h1>
            <h2>Full stack Javascript</h2>
            <p>
              Scrumpt provides busy parents with all of the portioned ingredients and instructions needed to make healthy, easy-to-assemble lunches and snacks for their little ones.
            </p>
            <p>
              We were the core team working on this site providing both front and back end development for the Scrumpt e-commerce site.
            </p>
            <p>
              <a href="http://www.scrumptbox.com/" target="_blank">scrumptbox.com</a>
            </p>
          </div>
        </div>
        <div class="item">
          <%= image_tag "imac_daylighted.png", class: "col-sm-6 hidden-xs", alt: "Nouvola" %>
          <div class="col-sm-5">
            <h1>Daylighted</h1>
            <h2>Front end HTML/CSS</h2>
            <p>
              Daylighted is start up offering a modern-day gallery installation service. Their virtual-installations display rotating photographs which are for sale.
            </p>
            <p>
              We were responsible for a smaller project to help implement a visual redesign of their photograph-displaying software for a an upcoming gallery exhibition.
            </p>
            <p>
              <a href="http://www.day-lighted.com/" target="_blank">day-lighted.com</a>
            </p>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="fa fa-angle-left fa-5x prev"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="fa fa-angle-right fa-5x next"></span>
      </a>
    </div>

    <div class="visible-xs">
      <div class="col-sm-5">
        <h1>Nouvola</h1>
        <h2>Rails Full Stack</h2>
        <p>
          Nouvola is a cloud based, stress testing service, which can mimic hundreds of thousands of users visiting a website.
        </p>
        <p>
          We were responsible for implementing a front end redesign after a complete UI overhaul. Heavy javascript and ajax were required, to create a seamless user experience for a complicated back end infrastructure.
        </p>
        <p>
          <a href="http://www.nouvola.com/" target="_blank">nouvola.com</a>
        </p>
      </div>
      <div class="col-sm-5">
        <h1>Prophecy Sciences</h1>
        <h2>Python and js</h2>
        <p>
          Prophecy Sciences is a Y-Combinator backed startup with neuroscience-based games that provide insights on personality, aptitude, and optimal career fits. We were responsible for full stack development (including backend database design, and front end javascript game-play) as well as deployment and maintenance of the application on Heroku.
        </p>
        <p>
          Additionally, we integrated with their development team as they hired new employees, and helped with setup and pair programming to bring new devs up to speed.
        </p>
        <p>
          <a href="https://www.prophecysciences.com/" target="_blank">prophecysciences.com</a>
        </p>
      </div>
      <div class="col-sm-5">
        <h1>knackk</h1>
        <h2>Rails iOS Back End</h2>
        <p>
          Knackk is a social iPhone app still in beta.
        </p>
        <p>
        Jingling Gate provided the back end development for the web server from which the iPhone app was hosted, as well as design and development of the splash page, various landing pages, and the back end admin panel. 
        </p>
      </div>
      <div class="col-sm-5">
        <h1>Tatcha</h1>
        <h2>Front end HTML/CSS/Javascript</h2>
        <p>
          Tatcha is a Japanese-inspired luxury cosmetics company with an e-commerce site running on a magento and expression engine back end.
        </p>
        <p>
          We were responsible for implementing a redesign of their blog, creating marketing landing pages, and helping transition their site to be mobile-responsive.
        </p>
        <p>
          <a href="http://www.tatcha.com/" target="_blank">tatcha.com</a>
        </p>
      </div>
      <div class="col-sm-5">
        <h1>Scrumpt</h1>
        <h2>Full stack Javascript</h2>
        <p>
          Scrumpt provides busy parents with all of the portioned ingredients and instructions needed to make healthy, easy-to-assemble lunches and snacks for their little ones.
        </p>
        <p>
          We were the core team working on this site providing both front and back end development for the Scrumpt e-commerce site.
        </p>
        <p>
          <a href="http://www.scrumptbox.com/" target="_blank">scrumptbox.com</a>
        </p>
      </div>
      <div class="col-sm-5">
        <h1>Daylighted</h1>
        <h2>Front end HTML/CSS</h2>
        <p>
          Daylighted is start up offering a modern-day gallery installation service. Their virtual-installations display rotating photographs which are for sale.
        </p>
        <p>
          We were responsible for a smaller project to help implement a visual redesign of their photograph-displaying software for a an upcoming gallery exhibition.
        </p>
        <p>
          <a href="http://www.day-lighted.com/" target="_blank">day-lighted.com</a>
        </p>
      </div>
    </div>
  </div>

</div>

<div id="services" class="page-section">
    <div class="container text-center">
      <div class="page-header text-center">
        <h1>Services</h1>
      </div>
      <div class="col-sm-4 service-item">
        <h2>Websites from Scratch</h2>
        <hr>
        <p>We bring ideas to market, <br /> developing to foster user growth and conversion.</p>
      </div>
      <div class="col-sm-4 service-item">
        <h2>Streamlining Existing Sites</h2>
        <hr>
        <p>We improve signup, marketing, <br /> and sales flows of existing sites.</p>
      </div>
      <div class="col-sm-4 service-item">
        <h2>More Development Power</h2>
        <hr>
        <p>We augment existing teams <br /> to get features out faster.</p>
      </div>
    </div>
</div>

<div id="team" class="page-section">
  <div class="container">
    <div class="page-header text-center">
      <h1>Team</h1>
      <hr>
    </div>
    <div class="row text-center">
      <% people_array.shuffle.each_with_index do |person, index| %>
        <div class="col-md-4 <%= index%2 == 0 ? 'col-md-offset-2' : '' %>">
          <%= image_tag person[:picture], class: "display-pic", alt: person[:name] %>
          <h3><%= person[:name] %></h3>
          <h5><i><%= person[:title] %></i></h5>
          <h5><a href=<%= "mailto:#{person[:email]}"%> target="_blank"><%= person[:email] %></a></h5>
          <p><%= person[:bio] %></p>
          <!-- <a class="icon" href="http://www.twitter.com/dparrelli" target="_blank"><i class="fa fa-twitter"></i></a> -->
          <!-- <a class="icon" href="#" target="_blank"><i class="fa fa-facebook"></i></a> -->
          <a class="icon" href= <%= person[:linkedin] %> target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="quote" class="page-section">
  <div class="container text-center">
    <h1>"The entire Jingling Gate team is excellent at communication and quickly understanding the core goals of our product features, skills that have consistently led to on-time and on-budget delivery."</h1>
    <h3>-Brittany Burrows, Prophecy Sciences</h3>
  </div>  
</div>

<div id="proficiencies" class="page-section">
    <div class="container">
      <div class="page-header text-center">
        <h1>Our Proficiencies</h1>
        <hr>
      </div>
      <div class="col-sm-6 col-md-3 proficiency-item design">
        <h2>Front End</h2>
        <ul class="list-unstyled category">
          <li class="top"><h3>HTML/CSS</h3>
            <ul class="list-unstyled">
              <li><em>Bootstrap</em></li>
              <li><em>Less/SCSS</em></li>
              <li><em>HAML/Jade</em></li>
            </ul>
          </li>
          <li class="top"><h3>Javascript</h3>
            <ul class="list-unstyled">
              <li><em>JQuery</em></li>
              <li><em>Angular</em></li>
              <li><em>Backbone</em></li>
              <li><em>Coffeescript</em></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3 proficiency-item design">
        <h2>Full Stack</h2>
        <ul class="list-unstyled category">
          <li class="top"><h3>Ruby</h3>
            <ul class="list-unstyled">
              <li><em>Rails</em></li>
            </ul>
          </li>
          <li class="top"><h3>Python</h3>
            <ul class="list-unstyled">
              <li><em>Flask</em></li>
            </ul>
          </li>
          <li class="top"><h3>Node js</h3>
            <ul class="list-unstyled">
              <li><em>Express</em></li>
            </ul>
          </li> 
          <li class="top"><h3>iPhone Apps</h3>
            <ul class="list-unstyled">
              <li><em>Objective C</em></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3 proficiency-item design">
        <h2>Deployment</h2>
        <ul class="list-unstyled category">
          <li class="top"><h3>Heroku</h3></li>
          <li class="top"><h3>Postgres/MySQL DB</h3></li>
          <li class="top"><h3>Analytics</h3>
            <ul class="list-unstyled">
              <li><em>Google</em></li>
              <li><em>Mixpanel</em></li>
              <li><em>CrazyEgg</em></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3 proficiency-item design">
        <h2>Growth/Maintenance</h2>
        <ul class="list-unstyled category">
          <li class="top"><h3>Developer Training</h3></li>
          <li class="top"><h3>Splash/Marketing Pages</h3></li>
          <li class="top"><h3>User Testing</h3></li>
          <li class="top"><h3>Interpretation of analytics data</h3></li>
        </ul>
      </div>
    </div>
</div>
 
<div id="contact" class="page-section">
  <div class="container">
    <div class="page-header text-center">
      <h1>Let's work together!</h1>
    </div>
    <h2 class="text-center">Drop us a line, and tell us about your idea or website.</h2>
    <p class="form-subtext text-center"><i>Or email <a href="mailto:inquiries@jinglinggate.com?Subject=Message_Me" target="_blank">inquiries@jinglinggate.com</a></i></p> 
    <div class='contact-form'>
      <form name="sentMessage" id="contactForm"  novalidate action="/homes" method="post" class="new_message" id="new_message">
        <div class='name'>
          <input name="message[first_name]" class='form-control first' placeholder='First Name' type='text' id="first_name" required data-validation-required-message="Please enter your first name">
          <input name="message[last_name]" class='form-control last' placeholder='Last Name' type='text' id="last_name" required data-validation-required-message="Please enter your last name">
        </div>
        <div class='contact'>
          <input name="message[email]" class='form-control email' placeholder='E-mail Address' type='text' id="email" required data-validation-required-message="Please enter your email">
        </div>
        <div class='message'>
          <textarea name="message[body]" class="form-control" placeholder='Your message' id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
        </div>
        <div id="success"> </div> <!-- For success/fail messages -->
        <footer class="submit-button text-center">
          <button type="submit" class="btn btn-primary btn-lg" >Submit</button>
        </footer>
      </form>   
    </div>
  </div>
</div>

<div id="footer">
  <div class="container hidden-xs">
    <div class="col-sm-3">
      <p><i>© 2014 Jingling Gate Productions</i></p>
    </div>
    <div class="col-sm-6 text-center location">Proudly built in <%= image_tag "key.svg" , class: "img-responsive" %> San Francisco, CA</div>
    <div class="col-sm-3 text-right"><i>Site Design by <a href="http://juneletters.com" target="_blank">June Letters Studio</a></i></div>
  </div>
  <div class="container visible-xs">
    <div class="col-xs-12 text-center location">Proudly built in <%= image_tag "key.svg" , class: "img-responsive" %> San Francisco, CA</div>
    <div class="col-xs-6">
      <p><i>© 2014 Jingling Gate Productions</i></p>
    </div>
    
    <div class="col-xs-6 text-right"><i>Site Design by <a href="http://juneletters.com" target="_blank">June Letters Studio</a></i></div>
  </div>
</div>
