  <%= render "header" %>

  <% @posts.each do |post| %>
  <div class="blog_container row topSpace">
    <div class="blog_date col-md-2 col-md-offset-1">
      <%= post.created_at.to_date.to_formatted_s(:long) %>
    </div>
    <div class="blog_content col-md-8">
      <h1 class="blog_title">
        <a href="/posts/<%= post.id %>"><%= post.title %></a>
      </h1>
      <p class="blog_body">
        <%= truncate_html(post.body, length: 400) %>
      </p>
    </div>
  </div>
        <!--<td><#%= link_to 'Show', post %></td>
        <td><#%= link_to 'Edit', edit_post_path(post) %></td>
        <td><#%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
        <% end %>

      <!--<#%= link_to 'New Post', new_post_path %>-->
