<% @posts.order(created_at: :desc).each do |post| %>
<div class="blog_container container topSpace">
  <div class="row">
    <div class="blog_content">
      <div class="page-header text-center">
        <h5 class="text-center blog_date"><i><%= post.created_at.to_date.to_formatted_s(:long) %></i></h5>
        <h1 class="blog_title"><a href="/blog/posts/<%= post.id %>"><%= post.title %></a></h1>
        <hr>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <p class="blog_body">
            <%= truncate_html(post.body, length: 1000) %>
          </p>
          <h2><a href="/blog/posts/<%= post.id %>">Read more...</a></h2>
        </div>
      </div>
    </div>
  </div>
</div>
      <!--<td><#%= link_to 'Show', post %></td>
      <td><#%= link_to 'Edit', edit_post_path(post) %></td>
      <td><#%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      <% end %>

    <!--<#%= link_to 'New Post', new_post_path %>-->
