<div class="container">
  <%= render 'header' %>
  <!--<p id="notice"><#%= notice %></p>-->

  <div class="row">
    <div class="col-md-2 col-md-offset-1"></div>
    <h2 class="blog_title col-md-8"><%= link_to_unless_current @post.title, @post %></h2>
  </div>
  <div class="row">
    <div class="blog_date col-md-2 col-md-offset-1">
      <p>USER IMG</p>
      <%= @post.created_at.to_date.to_formatted_s(:long) %>
    </div>
    <div class="col-md-offset-3">
      <%= simple_format @post.body, class: "show_blog_body" %>

      <%= link_to 'Edit', edit_post_path(@post)%> |
      <%= link_to 'Back', posts_path %>
    </div>
  </div>
</div>
