<div class="blog_content container topSpace">
  <h5 class="text-center"><i><%= @post.created_at.to_date.to_formatted_s(:long) %></i></h5>
  <div class="page-header text-center">
    <h1><%= link_to_unless_current @post.title, [:blog, @post] %></h1>
    <hr>
  </div>
  <p class="blog_body">
    <%= raw(@post.body) %>
  </p>
  <div class="row">
    <div class="col-xs-6 text-right"><%= image_tag @user.avatar_url(:profile_face) %></div>
    <div class="col-xs-6">
      <p><i>Author</i></p>
      <h3 class="user_info"><%= @user.first_name + " " %><%= @user.last_name %></h3>
    </div>
  </div>
</div>
