<!DOCTYPE html>
<html>
<head>
  <title>Jingling Gate</title>
  <link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- <div class="user_nav">
    <% if current_user %>
      Logged in as <a href="/users/<%=current_user.id%>", class="logged_in"><%= current_user.first_name %></a>
      <%= link_to "Log out", log_out_path, class: "log_out" %>
    <% else %>
      <%= link_to "Sign up", sign_up_path, class:"sign_up" %>
      <%= link_to "Log in", log_in_path, class:"log_in" %>
    <% end %>
  </div>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash#{name}", class: "container" %>
  <% end %> -->

<%= yield %>

</body>
</html>
